{{ define "home/index" }}<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main  class="center_container">
        home
    </main>
</body>
</html>
{{ end }}
